/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body { 
	padding-top: 50px;
}

div.container,div.navbar {
	font-family:Arial,Helvetica,sans-serif;
}

footer { 
	margin-top: 100px; 
}
table, td, th { 
	vertical-align: middle !important; border: none !important;
	padding:20px;
	font-size:14px
	font-family:Arial,Helvetica,sans-serif;
}

th {
	border-bottom: 2px solid #DDD !important;
}

tr {
	border-style:double;
}

h1 { 
	color:#1BE0A5;
	font-size:30px;
	font-family:Helvetica;
}

div.navbar-inner {
	background:#1BE0A5;
}
li.nav.active a:hover {
	background-color:#20916F;
}